<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head') %> 
<body>
    <header class="main-header">
            <img src="img/1.png" alt="logotipo" class="logo">

            <div id="mob-search">
            <div class="search-sug" id="search-sug">
            </div>
            <div class="search">
            <form name="newFormMob" onsubmit="if (!window.__cfRLUnblockHandlers) return false; searchModMob()" method="GET" data-cf-modified-1517ea0d33e7160c0c25394c-="">
            <input type="text" class="search" autocomplete="off" id="searchidmob" placeholder="Buscar...">
            <img src="img/descarga.png" alt="serch">
            <input type="hidden" value="cat">
            </form>
            </div>
            
            <ul>
                <li>Iniciar Sesión</li>
                <li>Regístrate</li>
            </ul>
            

            <img src="img/carrito.png" alt="logotipo" class="logo">
            
            <span class="fa fa-bars"></span>
            <div id="header">
                <ul class="nav">
                    <li><a href="">PRODUCTOS</a>
                        <ul>
                            <li><a href="">Computadoras</a></li>
                            <li><a href="">Componentes</a></li>
                            <li><a href="">Notebooks</a></li>
                            <li><a href="">Monitores</a></li>
                            <li><a href="">Sonido y Video</a></li>
                            <li><a href="">Accesorios</a></li>
                            <li><a href="">Conectividad</a></li> 
                            </li>
                        </ul>
                    </li>
                   
            </div>
    </header>
    <div class=bodys>

        <div class="producto1">
        <img src="img/nuevo.png" alt="serch">
        <h3 class="Productos">Placa de Video RTX 2070 Super Evo Dual OC
            8GB GDDR6</h3>
            <p class="subtitulo"> Asus </p>
            <p>Envío Gratuito</p>
            <ul class="guardar">
                <li>Guardar para después</li>
                <li>Eliminar</li>
            </ul>
            <!-- Falta el numero para aumear la cantidad de productos del carrito -->
        <h3 class="costo">$15010.00</h3>
        </div>
        
        <div class="subtotal">
        <h3 class="sub"> Subtotal (3 artículos):</h3> 
        <h3 class="totalcarrito">ARS 22920.00</h3>
        <h3 class="Realizar">Realizar el pago</h3>
        <h3 class="Continuar">Continuar Comprando</h3>
        </div>

        <div class="producto2">
        <img src="img/gabinete-pc-gamer-corsair-carbide-series-spec04_iZ908179991XvZgrandeXpZ3XfZ244531898-693376386-3XsZ244531898xIM.png" alt="serch">
        <h3 class="Productos">Gabinete PC Gamer Carbide Series Spec-04</h3>
            <p class="subtitulo"> Corsair </p>
            <p>Envío Gratuito</p>
            <ul class="guardar">
                <li>Guardar para después</li>
                <li>Eliminar</li>
            </ul>
            <!-- Falta el numero para aumear la cantidad de productos del carrito -->
        <h3 class="costo">$4490.00</h3>
        </div>  
            
        <div class="producto3">
        <img src="img/Mouse-Gaming-G9031.png" alt="serch">
        <h3 class="Productos">Mouse Gaming G903 Lightspeed RBG</h3>
            <p class="subtitulo"> Logitech </p>
            <p>Envío Gratuito</p>
            <ul class="guardar">
                <li>Guardar para después</li>
                <li>Eliminar</li>
            </ul>
            <!-- Falta el numero para aumear la cantidad de productos del carrito -->
        <h3 class="costo">$3420.00</h3>
        <br>
        <img src="img/Imagen 24.png" alt="serch">
        </div>
    </div>
    <footer>
        <h3> P2 TEC ©️ 2020 / CONTACTO </h3>
    </footer>
</body>
</html>