<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head') %> 
<body>
    <header class="main-header">
        <img src="img/1.png" alt="logotipo" class="logo">

        

        <div id="mob-search">
        <div class="search-sug" id="search-sug">
        </div>
        <div class="search">
        <form name="newFormMob" onsubmit="if (!window.__cfRLUnblockHandlers) return false; searchModMob()" method="GET" data-cf-modified-1517ea0d33e7160c0c25394c-="">
        <input type="text" class="search" autocomplete="off" id="searchidmob" placeholder="Buscar...">
        <img src="img/descarga.png" alt="serch">
        <input type="hidden" value="cat">
        </form>
        </div>
        
        <ul>
            <li>Iniciar Sesión</li>
            <li>Regístrate</li>
        </ul>
        

        <img src="img/activo-1.png" alt="logotipo" class="logo">
        
        <span class="fa fa-bars"></span>
        <div id="header">
            <ul class="nav">
                <li><a href="">PRODUCTOS</a>
                    <ul>
                        <li><a href="">Computadoras</a></li>
                        <li><a href="">Componentes</a></li>
                        <li><a href="">Notebooks</a></li>
                        <li><a href="">Monitores</a></li>
                        <li><a href="">Sonido y Video</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Conectividad</a></li> 
                        </li>
                    </ul>
                </li>
               
        </div>
</header>
<div class="producto 1">
    <img src="img/Imagen 30 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
</div>
<div class="producto 2">
    <img src="img/Imagen 31 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 3">
    <img src="img/Imagen 32 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 4">
    <img src="img/Imagen 33 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 5">
    <img src="img/Imagen 34 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 6">
    <img src="img/Imagen 35 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 7">
    <img src="img/Imagen 36 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 8">
    <img src="img/Imagen 37 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 9">
    <img src="img/Imagen 38 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>
<div class="producto 10">
    <img src="img/Imagen 39 (2).png" alt="">
    <h3 class="titulolistadeproductos">GEFORCE GTX 1660 TI</h3>
    <p class="descriplistadeproductos">PLACA DE VIDEO MSI NVIDIA GEFORCE GTX 1660 TI GAMING X 6GB</p>
    <h2 class="precioproductos">ARS 37327</h2>
    
</div>

<footer>
    <h3> P2 TEC ©️ 2020 / CONTACTO </h3>
</footer>
    
</body>
</html>