<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: "404 Not Found"}) %>
<link rel="stylesheet" href="/css/lista.css">
<body>
    <%- include('./partial/header', {user}) %>
    <div class="encierro"> 
        <div class="centradoLista row wrap nostyle">
            <h3>404 Not Found</h3>
            <h4>Te haces el pillo y queres llegar directo? Gil...</h4>
        </div>
    </div>    
    <%- include('partial/footer') %>

</body>

</html>