<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: "404 Not Found"}) %>
<link rel="stylesheet" href="/css/lista.css">
<body>
    <%- include('./partial/header', {user}) %>
    <div class="encierro"> 
        <div class="notFoundBox">
            <div class = "not-found">404 Not Found</div>
            <div class = "sub-not-found">Te haces el pillo y queres llegar directo? Gil...</div>
        </div>
    </div>    
    <%- include('partial/footer') %>

</body>

</html>