*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.orderInfo{
    margin-top: 300px;
}
/* .detailProducts{
    display:flex;
    justify-content: center;
} */
p{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}
hr{
    border: 1px solid white;
}
.detailProducts{
    margin-bottom: 2%;
}
.detailProducts ul{
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;
}
.buyDetailInfo {
    width: 30%;
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    color: white;
    box-shadow: 6px 3px 1px rgba(0, 0, 0, 0.3);
}
.buyDetailInfo h2{
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
}