* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.cartSummaryButtons a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}

.imgWidthCart {
    max-width: 200px;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.mt-3 {
    margin-top: 3%;
}

.d-flex {
    display: flex;
}

.fullCart {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.itemCart {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.itemCart:nth-child(1) {
    padding-top: 5%;
    margin-top: 0px;
}

.descCart {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product-detail {
    width: 80%;
    margin: 0 auto;
}

.cartTitle h1 {
    padding-top: 230px;
    margin-bottom: 50px;
    color: white;
}

.product-detail-info {
    width: 100%;
}

.product-detail-title {
    width: 100%;
    text-align: right;
    margin-top: 1%;
    margin-bottom: 20px;
    padding-right: 8%;
}

.product-detail-name {
    width: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}

.product-detail-qty {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

p,
a,
h5,
h4,
h3,
h2,
button {
    font-family: 'Rubik', sans-serif;
}

.itemPriceCart {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
}

.delete-cart-button {
    width: 100%;
    margin-top: 5%;
}

hr {
    border: 0;
    border-bottom: 5px solid #ffffff;
    width: 95%;
    margin-left: 3%;
}

.buy-now-button {
    color: blue;
    cursor: pointer;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.buy-now-cart {
    padding-bottom: 5%;
    margin-top: 3%;
}

.action-button {
    color: blue;
    border: none;
    background: none;
}

.action-button:hover {
    cursor: pointer;
}

.shop-options {
    display: flex;
}

.cart-options {
    display: flex;
}

/* History Cart */

.historyUsername {
    text-align: right;
    padding-right: 25px;
}

.history1 {
    margin: 350px auto;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 80%;

}

.history2 {
    margin: 0 auto;
}

.historyDesc {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: black;
    margin-top: 10px;
    border-bottom: 1px solid #ffffff;
}

.historyCartDetails {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.historyDescProd {
    width: 65%;
}

.historyImgProd {
    max-width: 100px;
    border-radius: 50%;
    margin: 0px;
    min-height: 100px;
}

.historyPriceProd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historyContentProd {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.buyDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 100px; */
}

@media (max-width: 1000px) {
    body {
        background-color: black;
    }

    .imgWidthCart {
        max-width: 100px;
    }

    .product-detail {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

    }

    .fullCart {
        width: 90%;
    }

    .product-detail-name {
        font-size: 14px;
    }

    .product-detail-qty {
        font-size: 16px;
    }

    .itemPriceCart {
        font-size: 18px;
    }

    .buy-now-cart {
        padding-bottom: 5%;
        margin-top: 3%;
        margin-right: 40px;
        margin-left: 10px;
    }

    .white {
        color: white
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .logo {
        border-radius: 50%;
    }

    .carritoContainer {
        display: flex;
        flex-direction: column;
    }

    .productList {
        width: 80%;
        margin-left: 25px;
    }

    .shop-options {
        justify-content: center;
    }

    .cartSummary {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    /* History css */
    .historyCartDetails {
        align-items: center;
        /* margin-top: 25px;
        margin-bottom: 25px;
        width: 50%; */
        display: inline;
    }

    .historyDesc {
        display: block;
    }

    .historyDescProd {
        width: 100%;
    }

    .buyDate {
        display: inline;
        padding-left: 0px;
        text-align: center;
    }

    .historyImgProd {
        margin: 0 auto;
        display: block;
    }

    .historyPriceProd {
        text-align: center;
    }
}

@media (max-width: 600px) {
    * {
        font-family: 'Rubik', sans-serif;
    }

    img {
        display: block;
    }

    .productoscarrito1 {
        padding-top: 130px;
    }

    .product-detail {
        margin: 0px;
        width: 100%;
    }

    .fullCart {
        width: 100%;
    }

    .descCart {
        display: inline;
    }

    .itemCart {
        display: inline;
    }

    .itemPriceCart {
        width: 100%;
        text-align: center;
    }

    .product-detail-name {
        width: 100%;
        margin-top: 10%;
        text-align: center;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
    }

    .product-detail-qty {
        width: 100%;
    }

    .shop-options {
        display: flex;
        flex-wrap: wrap;
    }

    .buy-now-cart {
        width: 50%;
        margin: 0px;
        padding: 0px;
        padding-left: 2%;
        border-radius: 5px;
        text-align: center;
        margin-top: 5%;
    }

    .buy-now-cart:nth-child(3) {
        margin: 0 auto;
        margin-top: 5%;
        text-align: center;
        margin-bottom: 5%;
    }
}