.cartSummaryButtons a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}

@media (max-width: 700px) {

    .logo img {
        width: auto !important;
    }


    .white {
        color: white
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .logo {
        border-radius: 50%;
    }

    .logo img {
        display: block;
        margin: 0 auto;
    }

    .carritoContainer {
        display: flex;
        flex-direction: column;
    }

    .productList {
        width: 80%;
        margin-left: 25px;
    }

    .cartSummary {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

}
.product-detail{
    margin-top: 300px;
}
