@media (max-width: 700px) {
    .busca {
        display: block;
    }
    
    .logo img {
        width: auto !important;
    }
    
    
    .white {
        color: white
    }
    
    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    
    .logo {
        width: 20%;
        border-radius: 50%;
    
    }
    
    .logo img {
        height: 150%;
        display: block;
    }
    .carritoContainer{
        display: flex;
        flex-direction: column;
    }
    .productList{
        width: 80%;
        margin-left: 25px;
    }
    .cartSummary{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
}