@media (max-width: 900px) {
    .division {
        display: flex;
        flex-direction: column;
    }
    .descrip {
        margin-top: 20px;
        border-radius: 20px;
        border: 2px solid #707070;
    }
    .cerraruno a{
        color: black;
        padding-left: 50px;
        position: relative;
        top: 10px;
        left: -290px;
    }
}
@media (max-width: 576px) {
    .division {
        display: flex;
        flex-direction: column;
    }
    .descrip {
        width: 80%;
        margin-top: 20px;
        border-radius: 20px;
        border: 2px solid #707070;
    }
    .cerraruno {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .cerraruno a{
        padding-left: 20px;
        position: relative;
        left: 0;
    }

    .imageContainer {
        position: relative;
        background-color: white;
        border: 2px solid #707070;
        align-items: center;
        max-height: 350px;
        width: 83%;
        margin: 0px;
        border-radius: 50px;
    }

    img.fotoProductoDetalle {
        max-height: 100%;
    }

    .vertical-center {
        height: 90%;
    }
}
.deleteee{
    background-color: transparent;
    border: none;
    font-size: 20px;
}