.loginContainer{
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginCompleto {
    margin: 0 auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.login-publi {
    justify-content: center;
}

.loginTitulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}


.field-group {
    width: 90%;
}

.email {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.emailInput {
    margin-top: 5px;
}
.password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.passwordInput {
    margin-top: 5px;
}

.form-container {
    text-align: left;
    background-color: #FCFAFA;
    min-width: 400px;
    max-width: 600px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid #707070;
    min-height: 250px;
} 
.form-container i {
    align-items: center;
    background-color: grey;
    border-radius: 60px;
} 
.form-container i {
    align-items: center;
    background-color: grey;
    border-radius: 60px;
} 
.form-container2 i{
    align-items: center;
    background-color: grey;
    border-radius: 60px;
    text-align: center;
}

.logoFormulario {
    height: 150px;
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.form-container2 button{
    margin-bottom: 10px;
}
 
.loginForm {
    margin-bottom: 5px;
    margin-left: 0px;
    color: #5F5D5D;
    font-size: 15px;
}

.form-container input {
    width: 90%;
}

.check {
    width: 120px;
}
.rememberMe {
    margin-top: 9px;
    font-size: 12px;
}

.rememberMeCheckbox {
    margin-top: 10px;
    height: 15px;
}

.iniciarSesion {
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 530;
    background: linear-gradient(0deg, rgba(8, 117, 155, 1) 0%, rgba(55, 142, 167, 1) 50%, rgba(58, 170, 203, 1) 100%);
}

.iniciarSesion:hover {
    background: linear-gradient(0deg, rgba(24, 138, 172, 1) 0%, rgba(60, 160, 190, 1) 50%, rgba(89, 204, 238, 1) 100%);
}

.form-container button {
    width: 120px;
    height: 22px;
    border: 1px solid #707070;
}

.tituloPublicidad {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    height: 26.4px;
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cybersale {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 20px;
    max-width: 400px;
}

.logoFormulario img {
    height: 150px;
    margin: 0 auto;
}

.centradorCybersale {
    height: 150px;
    margin: 0 auto;
}

.publicidad {
    margin: auto;
    height: 250px;
}

.imgA{
    width: 400px;
    border-radius: 5px;
    border: #000;
    border-width:30px;
    height: 100%;
}
 @media (max-width: 678px) {
     .encierro {
         padding-top: 250px;
     }

     .loginContainer {
         justify-content: center;
     }

    .login-publi {
        display: flex;
        flex-direction: column;
    }

    .loginCompleto{
        margin: 0 auto;
    }

    .field-group {
    margin-left: 20px;
}

    .cybersale {
        margin: 0 auto;
    }
    .form-container {
        width: 80%;
        height: 85%;
    }

    /* ULTIMO QUE TOQUE */
    .form-container button {
        width: 120px;
    }
    .form-container2 button {
        width: 80%;
    }
     /* ULTIMO QUE TOQUE */
} 