*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


label,h1,h4{
    font-family: 'Rubik', sans-serif;
}
.products label{
    margin-bottom: 10%;
}
.prodList{
    width: 50%;
}
.prod{
    margin-top: 15%;
    margin-bottom: 15%;
}
.centradoLista{
    margin-top: 100px;
}
.productoTest{
    width: 100%;
    height: 280px;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    min-width: 400px;
}
.producto img{
    margin: 0px;
    margin-left: 40px;
}
.descripcionesTest{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.a{
    margin-right: 10%;
}