* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.encierro {
    padding-top: 200px;
}

/* esto  */

.main-header {
    background-color: black;
    color: white;
}

.bodys {
    background-color: rgb(246, 246, 246);
}

.vertical-center {
    margin: 0;
    height: 90%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*CSS DE LISTA*/

.encabezado {
    display: flex;
    flex-wrap: nowrap;
}

.nostyle a:link,
.nostyle a:visited,
.nostyle a:hover,
.nostyle a:active {
    text-decoration: none;
    color: black;
}

.logo {
    width: 150px;
    height: 150px;
}

.login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbar {
    height: 40px;
    width: 500px;
    border-radius: 12px;
    margin-left: 3px;
}

img.carrito {
    height: 22px;
    width: 22px;
}

.subtotalCarrito {
    margin-top: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.no-wrap {
    flex-wrap: nowrap;
}

.contProdRec {
    display: flex;
    justify-content: space-evenly;
}

.wrap {
    flex-wrap: wrap;
}

.encabezado-login {
    width: 110px;
    margin-top: 40px;
    margin-left: 10px;
}

.encabezado-register {
    width: 100px;
    margin-top: 40px;
    margin-left: 10px;
}

.nombreProducto {
    background-color: #fff;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.detalleProducto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.precioProducto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3BA3C0;
    font-weight: bold;
    font-size: xx-large
}

.textoFooter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: bold;
    font-size: x-large;
    margin-top: 20px;
}

.producto {
    background-color: white;
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
    width: 285px;
    height: 370px;
}

.fotoProducto {
    margin: 2px 7px;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    display: block;
}

.descripciones {
    text-align: center;
}

/* .producto {
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
    width: 234px;
}

.fotoProducto {
    margin: 2px 7px;
    width: 210px;
    height: 210px;
} */

footer {

    color: white;
    text-align: center;
    height: 100px;
}

#header {
    display: none;
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu div.menu-container :hover>#header {
    display: block;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.precioproductos {
    color: chartreuse;
}

.productosdesctados {
    text-align: center;
}

.productosDestacados {
    text-align: center;
}



/* ESTO ES CSS DE PRODUCTO */

/* ESTO ES CSS DE PRODUCTO */

/* ESTO ES CSS DE PRODUCTO */

.bodyProducto {
    background-color: #c6dae7;
}

.division {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.imageContainer {
    position: relative;
    background-color: white;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0px;
    border-radius: 50px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

img.fotoProductoDetalle {
    display: block;
    margin: auto;
    max-height: 97%;
    border-radius: 50px;
    max-width: 97%;
}

/* REV */

img {
    display: block;
    margin: auto;
    border-radius: 10px;
}

.ImageContainer img {
    border-radius: 10%;
    width: 90%;
    align-items: center;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

.cerraruno a {
    color: black;
    padding-left: 50px;
    position: relative;
    top: -240px;
}

.especificado {
    flex-direction: column;
    align-items: center;
}

.descrip {
    padding: 10px;
    text-align: center;
    width: 450px;
    max-height: 300px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #707070;
    border-left: 0px;
    margin: 0;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.fontsize-medium {
    font-size: medium;
}

.fontsize-xlarge {
    font-size: x-large;
    border-radius: 6px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

ul {
    list-style: none;
}

.voton {
    text-decoration: none;
    margin: 0 auto;
    width: 75%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(#45a7c5, #1D83A2, #0C485A);
    border-radius: 6px;
    border: 2px solid #707070;
}

footer {

    color: white;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.Realizar {
    background-color: #00aae4;
    border-radius: 50%;
}

/* formulario */

body {
    /* background-image: url("https://www.designbolts.com/wp-content/uploads/2013/02/Cubes-Grey-Seamless-Pattern-For-Website-Background.jpg"); */
    /* background: rgba(2,83,150,1);
    background: -moz-linear-gradient(top, rgba(2,83,150,1) 0%, rgba(161,210,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,83,150,1)), color-stop(100%, rgba(161,210,255,1)));
    background: -webkit-linear-gradient(top, rgba(2,83,150,1) 0%, rgba(161,210,255,1) 100%);
    background: -o-linear-gradient(top, rgba(2,83,150,1) 0%, rgba(161,210,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(2,83,150,1) 0%, rgba(161,210,255,1) 100%);
    background: linear-gradient(to bottom, rgba(2,83,150,1) 0%, rgba(161,210,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025396', endColorstr='#a1d2ff', GradientType=0 ); */
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(55,128,191,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3780bf', GradientType=0 );
}

main {
    width: 100%;
    padding: 30px;
}



/* ESTO ES CSS DE CARRITO */

/* ESTO ES CSS DE CARRITO */

/* ESTO ES CSS DE CARRITO */

.carritoContainer {
    background-image: url("https://www.designbolts.com/wp-content/uploads/2013/02/Cubes-Grey-Seamless-Pattern-For-Website-Background.jpg");
    background-repeat: repeat;
    padding-left: 20px;
    width: 100%;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productList {
    background-color: #eeeeee;
    border: 2px solid #707070;
    padding: 15px;
    width: 70%;
    margin-bottom: 20px;
}

.cartSummary {
    background-color: #eeeeee;
    margin-left: 25px;
    border: 2px solid #707070;
    padding: 15px;
    width: 26%;
    height: 200px;
}

.cartSummaryHeader {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.cartSummaryButtons {
    justify-content: center;
    align-items: center;
}

.cartButton {
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border: 1px solid #707070;
    border-radius: 10px;
    background: rgb(125, 125, 125);
    background: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.cartButton:hover {
    border: 1px solid #909090;
    background: rgb(175, 175, 175);
    background: linear-gradient(0deg, rgba(175, 175, 175, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.cartButton:active {
    border: 1px solid #3877c9;
    background: rgb(74, 101, 177);
    background: linear-gradient(0deg, rgba(74, 101, 177, 1) 0%, rgb(36, 66, 146) 100%);
}

.startCheckout {
    background: rgb(97, 133, 231);
    background: linear-gradient(0deg, rgba(97, 133, 231, 1) 0%, rgba(87, 119, 207, 1) 100%);
}

.startCheckout:hover {
    background: rgb(104, 142, 248);
    background: linear-gradient(0deg, rgba(104, 142, 248, 1) 0%, rgba(87, 119, 207, 1) 100%);
}

.cartHeaders {
    border-bottom: 2px solid #707070;
    padding-bottom: 10px;
    font-size: 18px;
}

.carritoHeader {
    width: 70%;
    font-weight: bold;
}

.precioHeader {
    width: 15%;
    text-align: center;
}

.cantidadHeader {
    width: 15%;
    text-align: center;
}

.cartProduct {
    border-bottom: 2px solid #707070;
}

.cartProduct .cartProductImage,
.cartProductDetail,
.cartProductPrice,
.cartProductQuantity {
    margin: 10px;
}

.cartProductImage {
    border: 1px solid #707070;
    width: 15%;
    height: 80%;
}

.cartDetailName {
    font-weight: bold;
    color: #42C3EB;
}

.cartDetailBrand {
    font-weight: bold;
    color: #000;
}

.cartProductDetail {
    width: 55%;
}

.img1 img {
    border-radius: 10%;
    width: 10%;
    align-items: center;
}

.img3 img {
    border-radius: 10%;
    width: 10%;
    align-items: center;
}

.producto1 {
    background-color: white;
    border-radius: 10%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.cartProductPrice {
    font-weight: bold;
    color: #8A0000;
    width: 15%;
    text-align: center;
}

.saveForLater {
    color: #3CB4D8;
    margin-right: 3px;
}

.deleteProduct {
    color: #3CB4D8;
    margin-left: 3px;
}

.cartProductQuantity {
    width: 15%;
    text-align: center;
}

.totalPrice {
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.redText {
    color: #8A0000;
}

.emptyCart{
    padding-top: 500px; 
    color: black;
    margin-bottom: 258px;
}

/*EXTRAS*/

/*EXTRAS*/

/*EXTRAS*/

ul {
    list-style: none;
}

.img1 img {
    border-radius: 10%;
    width: 40%;
    align-items: center;
}

.img4 img {
    border-radius: 10%;
    width: 40%;
    align-items: center;
}

.img3 img {
    border-radius: 10%;
    width: 50%;
    align-items: center;
}

.subtotal {
    background-color: #fff;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    list-style: none;
}

.sub {
    border: 10%;
    border-radius: 30%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.Realizar {
    border-radius: 30%;
    margin: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.totalcarrito {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
}

.Continuar {
    border: 10%;
    border-radius: 30%;
    margin: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.img24 {
    display: flex;
    align-content: center;
    border-radius: 10px;
    width: 250%;
}

@media (min-width: 1366px) {}

/* index */
.products-title {
    text-align: center;
}

.imagenus img {
    border-radius: 10%;
    width: 100%;
    padding: 1%;
    max-height: 800px;
    margin-top: 45%;
}

.product-box img {
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 100%;
    padding: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.product-box_data p {
    text-align: center;
    padding: 1%;
    text-decoration: none;
    color: black
}

.product-box_data h2 {
    text-align: center;
    padding: 1%;
    text-decoration: none;
    color: black
}

a:link {
    text-decoration: none;
    margin-top: 15px;
}

.product-box {
    background-color: white;
    border-radius: 15%;
    margin: 10%;
    border: 2px solid black;
}

.link {
    color: black;
}

.mj {
    width: 95%;
}

@media (max-width: 600px) {
    .imgC {
        width: 90% !important;
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 30px;
    }

    .imagenus img {
        padding-top: 100px;
    }

    .carritoContainer {
        padding-top: 250px;

    }

    .cartHeaders {
        font-size: 13px;
    }

}

@media (max-width: 1300px) {
    .imgC {
        width: 60%;
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 30px;
    }

}

@media (max-width: 900px) {
    .carritoContainer {
        padding-top: 150px;

    }
}

.imgC {
    width: 24%;
    margin: 2%;
    box-shadow: 5px 5px 10px rgba(0,0,0, .5);
}


.imgcontent {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

img {
    display: inline-block;
}

/* .imga {
    width: 100% !important;
    height: 250px;
    margin-top: 20px;
} */

.centrameesto {
    text-align: center;
}

.loginCompleto {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.imgB {
    width: 50%;
    border-radius: 20px;
    border: #000;
    border-width: 30px;
    max-height: 200px;
    margin-top: 15px;
}

@media (min-width: 700px) {
    .imagenus img {
        margin-top: 190px;
    }
}

@media (min-width: 1300px) {
    .imagenus img {
        width: 100%;
        padding: 0%;
        margin-top: 190px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 500px;
    }
}

.contenedorprincpaldecreate {
    padding-top: 300px;
}

.editar-eliminar a {
    text-decoration: none;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(#45a7c5, #1D83A2, #0C485A);
    border-radius: 6px;
    border: 2px solid #707070;
}

button.action-buttom.delete {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

/* Perfil */

hr {
    border: 0;
    border-bottom: 1px solid #eaeaea;
}

.userData {
    background-color: white;
    width: 30%;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 40px;

}

.userData h3 {
    text-align: center;
    padding-top: 10px;
}

.userAccount {
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.userAccount i {
    color: blue;
}

.userPData {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.editar-eliminar {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media(min-width: 890px) {
    .editar-eliminar {
        display: flex;
        align-items: center;

    }
}

.productoparaeditar {
    padding-top: 200px;
}

.perfilData {
    padding-top: 250px;
}

.logo:hover {
    transition: trasform .5s;
}

.logo:hover {
    transform: scale(1.1);
}

img.imagenportada {
    height: 600px;
    width: 100%;
}

.footer {
    background: #222;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.izquierda {
    text-align: center;
}

.centro {
    text-align: center;
    margin-left: 10%;
}

.derecha {
    text-align: center;
    margin-left: 10%;
}

.containertodoelresto {
    width: 100%;

}

@media (max-width: 768px) {
    .footer {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .containerredessociales {
        display: block !important;
        text-align: center;

    }

    .col-1 col-md-2 footer-col redesfooter {
        text-align: center;
    }

    .containertodoelresto {
        display: none
    }

}

.containerredessociales {
    display: none
}

.footer h3 {
    background-color: #222 !important;

}


.redesfooter {
    margin-left: 5%;
}

.redesfooter3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.redesfooter4 {
    margin-left: 5%;
}

.imagenfooter {
    width: 210px;
    height: 110px;
    margin: 0;
    /* display: flex; */
    /* flex-direction: row; */
    margin-top: 40px;
    /* margin-right: 196px;*/
}

.imagenfooter1 {
    width: 210px;
    height: 210px;
    margin: 0;
    display: block;
}

.footer-nav {
    justify-content: space-around;
    flex-wrap: nowrap!important;
}
.pie-footer{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgba(55,128,191,1);
}




a:not([href]):not([tabindex]) {
    color: #007bff !important;
    text-decoration: none;
    padding-top: 15px;
}



.containerproducts-wrapper{
    display: flex;
    justify-content: center;
   
    
}

.hystorial1{
margin-top: 350px;
background-color: #000;
}

img .productoimagen {
    transform: scale(1.5);
    
}

p.error {
    color: lightcoral;
}

.productos-recomendadas contenedor{
    width: 100%;
}

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: .3125em;
    font-family: inherit;
    font-size: 1rem;
    background-image: linear-gradient(0deg, #000000 95%, #f2295b 100%) !important;
    border: solid white !important;
    color: white !important;
}