* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: black;
    color: white;
}

.encabezado {
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    width: 150px;
    height: 150px;
}

.login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbar {
    height: 40px;
    width: 500px;
    border-radius: 12px;
    margin-left: 3px;
}

img.carrito {
    height: 22px;
    width: 22px;
}

.subtotalCarrito {
    margin-top: 2px;
}

.row {
    display: flex;
    flex-direction: row;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.encabezado-login {
    width: 110px;
    margin-top: 40px;
    margin-left: 10px;
}

.encabezado-register {
    width: 100px;
    margin-top: 40px;
    margin-left: 10px;
}

.nombreDeProducto {
    background-color: #fff;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.detalleProducto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.precioProducto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3BA3C0;
    font: bold;
}

.textoFooter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: bold;
    font-size: x-large;
    margin-top: 20px;
}

.bodys {
    background-color: aqua;
}

.producto {
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
    width: 234px;
}

.fotoProducto {
    margin: 2px 7px;
    width: 210px;
    height: 210px;
}

.descripciones {
    text-align: center;
}

.producto {
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
    width: 234px;
}

.fotoProducto {
    margin: 2px 7px;
    width: 210px;
    height: 210px;
}

.descripciones {
    text-align: center;
}

.detalleproducto {
    background-color: aqua;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}

#header {
    display: none;
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu div.menu-container :hover>#header {
    display: block;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.precioproductos {
    color: chartreuse;
}

.productosdesctados {
    text-align: center;
}

.productosDestacados {
    text-align: center;
}

h3 {
    background-color: #000;
}


/* ESTO ES CSS DE PRODUCTO */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.detalleproducto {
    background-color: aqua;
}

.division {
    max-width: 100%;
    margin-left: 5% auto;
    margin-right: 5% auto;
    align-items: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
}

.cerraruno {
    padding-left: 50px;
}

.especificado {
    flex-direction: columns;
    align-items: center;
}

.descrip {
    text-align: center;
    background-color: white;
    border-radius: 6px;
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    list-style: none;
}

.voton {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: rgb(33, 235, 31);
    border-radius: 6px;
    border: 1px solid black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    .especificado {
        display: flex;
        flex-direction: row
    }
    .descrip {
        margin-bottom: 20%;
        margin-top: 20%;
        margin-right: 1%;
        margin-left: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media (min-width: 1366px) {
    .especificado {
        display: flex;
        flex-direction: row;
    }
    .cerraruno {
        margin-left: 20%;
        padding-left: 0%;
    }
    .descrip {
        padding: 10%;
    }
    .detalleproducto {
        position: absolute;
    }
    .imagecontainer {
        margin: 50%;
    }
}


/* ESTO ES CSS DE CARRITO */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: black;
    color: white;
}

.bodys {
    background-color: aqua;
    padding-top: 5%;
}

.detalleproducto {
    background-color: aqua;
}

.producto1 {
    background-color: white;
    border-radius: 10%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.producto2 {
    background-color: white;
    border-radius: 10%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.producto3 {
    background-color: white;
    border-radius: 10%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

img {
    border-radius: 10%;
    width: 40%;
}

.subtotal {
    border-radius: 20%;
    border-radius: 10%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    list-style: none;
}

.sub {
    border: 10%;
    border-radius: 30%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: red;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.Realizar {
    border: 10%;
    border-color: black;
    border-radius: 30%;
    background-color: red;
    margin: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.totalcarrito {
    border: 10%;
    border-color: black;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: red;
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
}

.Continuar {
    border: 10%;
    border-radius: 30%;
    background-color: red;
    margin: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.img24 {
    display: flex;
    align-content: center;
    border-radius: 10px;
    width: 250%;
}

@media (min-width: 1366px) {}