* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 80%;
}

.contenido form{
    margin-left: 30%;
}
.busca{
    display: none;
}



.logo {
    width: 30%;
    border-radius: 50%;
    display: block;
    margin: 10 auto;
  
}
.logo img {
    width: 80%;
    height: 10%;
    border-radius: 50%;
    display: block;
    margin: 10 auto;
    margin-left: 120%;
 
  
}


contenido input {
    width: 80%;
}

.log {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.hede{
    background-color: black;
    border-bottom-right-radius: 5%;
border-bottom-left-radius: 2%;
background-image: linear-gradient(0deg, #000000 80%, #f2295b 100%);
height: 40px;
padding-top: 5px;
}
#navegacion{
    list-style: none;
 
    display:inline;
}
#navegacion li{
    display:inline;
    text-align: center;
    margin-right: 1%;
   
}

@media (min-width: 500px) {
    header {
        background-color: black;
        height: 80%;
    }
    
    
    
    
    
    .logo {
        width: 30%;
        border-radius: 50%;
        display: block;
        margin: 10 auto;
      
    }
    .logo img {
        width: 80%;
        height: 10%;
        border-radius: 50%;
        display: block;
        margin: 10 auto;
       margin-top: 0%;
       margin-left: 120%;
      
      
    }
    
    
    contenido input {
        width: 80%;
    }
    
    .log {
        margin-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }

    .hede{
        background-color: black;
        border-bottom-right-radius: 5%;
    border-bottom-left-radius: 2%;
    background-image: linear-gradient(0deg, #000000 80%, #f2295b 100%);
    height: 40px;
    padding-top: 5px;
    }
    #navegacion{
        list-style: none;
     
        display:inline;
    }
    #navegacion li{
        display:inline;
        text-align: center;
        margin-right: 1%;
       
    }
     
}

@media (min-width: 900px) {
    .contenido form{
        margin-left: 0%;
    }
    .busca{
        display: block;
    }
    
    .logo img {
        width: auto !important;
    }
    
    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        width: 75%;
        height: 30px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .info {
        display: flex;
    }

    .contenido {
        display: flex;
        width: 100%;
    }

    .log {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        padding-left: 10px;
    }

    .white {
        color: white
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .logo {
        width: 20%;
        border-radius: 50%;
        display: block;
        margin: 10 auto;
      
    }
    .logo img {
        height: 150%;
        border-radius: 50%;
        display: block;
        margin: 10 auto;
       margin-top: -15%;
       margin-left: 0% ;
    }

}
 /* esto  */
.main-header{
    background-color: black;
    color: white;
}

.bodys {
    background-color: #c6dae7;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

/*CSS DE LISTA*/

.encabezado {
    display: flex;
    flex-wrap: nowrap;
}

.nostyle a:link, .nostyle a:visited, .nostyle a:hover, .nostyle a:active {
    text-decoration: none;
    color: black;
}

.logo {
    width: 150px;
    height: 150px;
}

.login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbar {
    height: 40px;
    width: 500px;
    border-radius: 12px;
    margin-left: 3px;
}

img.carrito {
    height: 22px;
    width: 22px;
}

.subtotalCarrito {
    margin-top: 2px;
}

.row {
    display: flex;
    flex-direction: row;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.encabezado-login {
    width: 110px;
    margin-top: 40px;
    margin-left: 10px;
}

.encabezado-register {
    width: 100px;
    margin-top: 40px;
    margin-left: 10px;
}

.nombreProducto {
    background-color: #fff;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.detalleProducto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.precioProducto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3BA3C0;
    font: bold;
}

.textoFooter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: bold;
    font-size: x-large;
    margin-top: 20px;
}

.producto {
    background-color: white;
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
    width: 234px;
    min-height: 328px;
}

.fotoProducto {
    margin: 2px 7px;
    width: 210px;
    height: 210px;
}

.descripciones {
    text-align: center;
}

.producto {
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
    width: 234px;
}

.fotoProducto {
    margin: 2px 7px;
    width: 210px;
    height: 210px;
}

.descripciones {
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}

#header {
    display: none;
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu div.menu-container :hover>#header {
    display: block;
}

ul, ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.precioproductos {
    color: chartreuse;
}

.productosdesctados {
    text-align: center;
}

.productosDestacados {
    text-align: center;
}

h3 {
    background-color: #000;
}

/* ESTO ES CSS DE PRODUCTO */
/* ESTO ES CSS DE PRODUCTO */
/* ESTO ES CSS DE PRODUCTO */

.bodyProducto {
    background-color: #c6dae7;
}

.division {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}


.imageContainer {
    position: relative;
    background-color: white;
    border: 2px solid #707070;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0px;
    border-radius: 50px;
}

img.fotoProductoDetalle {
    display: block;
    margin: auto;
    border-radius: 50px;
    max-height: 400px;
    max-width: 400px;
}
/* REV */
img{
    display:block;
    margin:auto;
    border-radius: 10px;
    }
.ImageContainer img{
    border-radius: 10%;
    width: 90%;
    align-items: center;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}
.cerraruno{
    padding-left: 50px;
    position: relative;
    top: -240px;

}

.especificado {
    flex-direction: column;
    align-items: center;
}

.descrip {
    padding: 10px;
    text-align: center;
    width: 450px;
    max-height: 300px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #707070;
    border-left: 0px;
    margin: 0;
}

.fontsize-medium{
    font-size: medium;
}

.fontsize-xlarge{
    font-size: x-large;
    border-radius: 6px;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 0%;
border-top-right-radius: 0%;
}

ul {
    list-style: none;
}

.voton {
    text-decoration: none;
    margin: 0 auto;
    width: 75%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(#45a7c5, #1D83A2, #0C485A);
    border-radius: 6px;
    border: 2px solid #707070;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}
.Realizar{
    background-color: #00aae4;
    border-radius: 50%;
   
   
}

/*@media (min-width: 768px) {
    .especificado {
        display: flex;
        flex-direction: row
    }
    .descrip {
        margin-bottom: 20%;
        margin-top: 20%;
        margin-right: 1%;
        margin-left: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

/*@media (min-width: 1366px) {
    .especificado {
        display: flex;
        flex-direction: row;
    }
    .cerraruno {
        margin-left: 20%;
        padding-left: 0%;
    }
    .descrip {
        padding: 10%;
    }
    .detalleproducto {
        position: absolute;
    }
    .imagecontainer {
        margin: 50%;
    }
}

/* ESTO ES CSS DE CARRITO */
/* ESTO ES CSS DE CARRITO */
/* ESTO ES CSS DE CARRITO */

.carritoContainer {
    background-color: #c6dae7;
    margin-left: 20px;
    width: 100%;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.productList {
    background-color: #eeeeee;
    border: 2px solid #707070;
    padding: 15px;
    width: 70%;
}
.cartSummary {
    background-color: #eeeeee;
    margin-left: 25px;
    border: 2px solid #707070;
    padding: 15px;
    width: 26%;
    height: 200px;
}

.cartHeaders {
    border-bottom: 2px solid #707070;
    padding-bottom: 10px;
    font-size: 18px;
}
.carritoHeader {
    width: 70%;
    font-weight: bold;
}
.precioHeader {
    width: 15%;
    text-align: center;
}
.cantidadHeader {
    width: 15%;
    text-align: center;
}
.cartProduct {
    border-bottom: 2px solid #707070;
}

.cartProduct .cartProductImage,
    .cartProductDetail, .cartProductPrice,
    .cartProductQuantity {
    margin: 10px;
}

.cartProductImage {
    border: 1px solid #707070;
    width: 15%;
    height: 80%;
}
.cartProductDetail {
    width: 55%;
.img1 img{
    border-radius: 10%;
    width: 10%;
    align-items: center;
}
.img3 img{
    border-radius: 10%;
    width: 10%;
    align-items: center;
}

.producto1{
    background-color: white;
    border-radius: 10%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
.cartProductPrice {
    width: 15%;
    text-align: center;
}
.cartProductQuantity {
    width: 15%;
    text-align: center;
}
.clickeables {
    color: #3CB4D8;
}
/*EXTRAS*/
/*EXTRAS*/
/*EXTRAS*/

ul {
    list-style: none;
}

.img24 {
.img1 img{
    border-radius: 10%;
    width: 40%;
    align-items: center;
}
.img4 img{
    border-radius: 10%;
    width: 40%;
    align-items: center;
}
.img3 img{
    border-radius: 10%;
    width: 50%;
    align-items: center;
}

.subtotal{
    background-color: #fff;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
   
}
ul{
list-style: none; 
}
.sub{
   border: 10%;
   border-radius: 30%;
   border-bottom-right-radius: 5%;
   border-bottom-left-radius: 5%;
  
   margin-top: 5%;
   margin-left: 15%;
   margin-right: 15%;
}
.Realizar{
    border-radius: 30%;
  
    margin: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
   
 }
 .totalcarrito{
   
    border-bottom-right-radius: 5%;
border-bottom-left-radius: 5%;
   
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
 }
 .Continuar{
    border: 10%;
    border-radius: 30%;
    
    margin: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
 }
.img24{
    display: flex;
    align-content: center;
    border-radius: 10px;
    width: 250%;
    
    }


@media (min-width: 1366px) {
    
}

/* index */
.imagenus img{
    border-radius: 10%;
    width: 95%;
    padding: 1%;
}
.product-box img{
    border-radius: 10%;
    width: 90%;
    padding: 1%;
    
}
.col-12 h2 {
    text-align: center;
    padding: 1%;
}
.product-box_data p {
    text-align: center;
    padding: 1%;
    text-decoration:none;
    color:black
}
.product-box_data h2 {
    text-align: center;
    padding: 1%;
    text-decoration:none;
    color:black
}
a:link
{
text-decoration:none;
}


.product-box{
    background-color: white;
    border-radius: 15%;
    margin: 10%;
    border: 2px solid black; 
   
}

.link { color: black; }

@media (min-width: 700px) {

       
}
/* formulario */
body{
    background-color: aqua;
}
.form-container{
    background-color: aquamarine;
    text-align: center;
    border-radius: 30%;
    margin: 10%;
    padding: 10%;
}
.form-container2{
    background-color: aquamarine;
    text-align: center;
    border-radius: 30%;
    margin: 10%;
    padding: 10%;
}
@media (min-width: 700px) {

       
}

.mj {
    width: 95%;
}
.imgC {
    width: 40% !important;
    margin-left: 75px;
    margin-top: 30px;
    padding-left: 0px;
}
.imgbuilder a {
    margin: 0 auto;
}
.imgcontent{
    width: 100%;
    margin: 0 auto;
}
img {
    display: inline-block;
}
