<footer>
    <div class="footer">
        <div class=containertodoelresto id=content-desktop>
            <div class="row footer-nav">
                <div class="redesfooter">
                    <p style=line-height:2><b>Categorias</b></p>
                    <p style=line-height:1.4;font-weight:400>
                        <a href="/lista/Componentes" style=color:#fff>Componentes</a><br>
                        <a href="/lista/Monitores" style=color:#fff>Monitores</a><br>
                        <a href="/lista/PcStreamer" style=color:#fff> PC Streamer </a><br>
                        <a href="/lista/PcOffice" style=color:#fff> PC Oficina </a><br>
                        <a href="/lista/Notebooks" style=color:#fff>Notebooks</a><br>
                        <a href="/lista" style=color:#fff>Todas las categorias</a></p>
                </div>
                <div class="redesfooter">
                    <p style=line-height:2><b>Marcas</b></p>
                    <p style=line-height:1.4;font-weight:400>
                        <a href='/lista/aorus' style=color:#fff>Aorus</a><br>
                        <a href="/lista/asus" style=color:#fff>Asus</a><br>
                        <a href="/lista/adata" style=color:#fff>Adata</a><br>
                        <a href="/lista/seagate" style=color:#fff>Seagate</a><br>
                        <a href="/lista/ballistix" style=color:#fff>Ballistix</a><br>
                        <a href="/lista/amd" style=color:#fff>AMD</a></p>
                </div>
                <div class="redesfooter">
                    <p style=line-height:2><b>Lo más buscado</b><br></p>
                    <p style=line-height:1.4;font-weight:400><a href=/lista/Componentes style=color:#fff>Placas de Video Nvidia</a><br>
                        <a href="/lista/Componentes" style=color:#fff>Procesadores AMD</a><br>
                        <a href="/lista/Componentes" style=color:#fff>Watercooling</a><br>
                        <a href="/lista/Componentes" style=color:#fff>RGB</a><br>
                        <a href="/lista/Perifericos" style=color:#fff>Teclado Mecanico</a><br>
                        <a href="/lista/Perifericos" style=color:#fff>Mouse Gamer</a></p>
                </div>
                <div class="redesfooter">
                    <p style=line-height:2><b>Ayuda</b></p>
                    <!--<p style=line-height:1.4;font-weight:400><a href=https://www.maximus.com.ar/CONTACT/contacto/maximus.aspx style=color:#fff>Ubicacion</a><br>-->
                    <p style=line-height:1.4;font-weight:400>
                        <a href="https://www.google.com/maps/place/Digital+House,+Avenida+Monroe,+BKD,+Buenos+Aires/@-34.4740903,-58.5517106,15z/data=!4m2!3m1!1s0x95bcb436efe09303:0xfb39818e7624ac76"
                            target="_blank" style=color:#fff>Ubicacion</a><br>
                        <a href="#" style=color:#fff data-target=#modalpagos data-toggle=modal id=modalpagos>Medios de
                            Pago</a><br>
                        <a href="tel:+5491135004591" style=color:#fff data-target=#-null-modalventatelefonica
                            data-toggle=modal id=#-null-abrirventatelefonica>Venta telefonica</a><br>
                        <a href="https://wa.link/opb0s0" style=color:#fff>Whatsapp Local</a><br>
                        <a href="mailto:vasquezt@outlook.es" style=color:#fff>Email Local</a><br>
                        <a href="#" style=color:#fff>FAQ</a></p>
                </div>
                <div class="redesfooter3">
                    <h3>Seguinos en las Redes</h3>
                    <a href="https://www.facebook.com/" target=_blank><img alt="boton facebook" loading=lazy
                            src="https://cdn.jsdelivr.net/gh/persano/maximus/facebook1.svg"
                            style=height:35px;width:45px;vertical-align:middle></a>
                    <a href="https://www.instagram.com/" target=_blank><img alt="boton instagram" loading=lazy
                            src="https://cdn.jsdelivr.net/gh/persano/maximus/instagram.svg"
                            style=height:35px;width:45px;vertical-align:middle></a>
                    <a href="https://www.youtube.com/" target=_blank><img alt="boton youtube" loading=lazy
                            src="https://cdn.jsdelivr.net/gh/persano/maximus/youtube.svg"
                            style=height:45px;width:45px;vertical-align:middle></a>
                </div>
            </div>
        </div>
        <div class=containerredessociales id=content-mobile>
            <div class=rowfooter>
                <div class="redesfooter">
                    <h3>Seguinos en las Redes</h3>
                    <a href="https://www.facebook.com/" target=_blank><img alt="boton facebook" loading=lazy
                            src="https://cdn.jsdelivr.net/gh/persano/maximus/facebook1.svg"
                            style=height:35px;width:45px;vertical-align:middle></a>
                    <a href="https://www.instagram.com/" target=_blank><img alt="boton instagram" loading=lazy
                            src="https://cdn.jsdelivr.net/gh/persano/maximus/instagram.svg"
                            style=height:35px;width:45px;vertical-align:middle></a>
                    <a href="https://www.youtube.com/" target=_blank><img alt="boton youtube" loading=lazy
                            src="https://cdn.jsdelivr.net/gh/persano/maximus/youtube.svg"
                            style=height:45px;width:45px;vertical-align:middle></a>
                </div>
            </div>
        </div>





    </div>
    <div class="pie-footer">
        <img src="/img/numero.png" class="imagenfooter1" alt="" width="1920" height="1080">
        <img src="/img/data123123.png" class="imagenfooter" alt="" width="1920" height="1080">
    </div>
</footer>