<body>
    <header class="info">
        <div class="logo">
            <a href="/">
                <img src="/img/numero.png" class="logo" alt="Logo pagina">
            </a>
        </div>
        <div class="contenido">
            <div class="buscador">
            <form action="/search" method="GET" class="search-form">
            </div>
                <input type="text" name="keywords" placeholder="">
                <a class="search-btn" href="#">
                    <div class="busca">
                        <i class="fas fa-search white"></i>
                </a>
        </div>
        </form>
        <div class="log">
            <a class="navLink" href="#">Iniciar Sesion</a>
            <a class="navLink" href="#">Registrate</a>
            <a class="navLink" href="/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
        </div>
    </header>
    <div class="hede">
        <nav id="navegacion">
            <ul class="sub-menu">
                <li><a href="/lista/Componentes">Componentes</a></li>
                <li><a href="/lista/Notebooks">Notebooks</a></li>
                <li><a href="/lista/Monitores">Monitores</a></li>
                <li><a href="/lista/Perisfericos">Perisfericos</a></li>
            </ul>
        </nav>
    </div>
</body>